<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!--输出到控制台-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--开发环境:打印控制台-->
<!--    <logger name="com.logback.demo.logback"/>-->

    <logger name="com.logback.demo.logback.TestLogback" level="info" additivity="true">
        <appender-ref ref="CONSOLE" />
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>